$column_height: 38px;
$column_vertical_margin: 10px;
$row_horizontal_margin: 10px;
$large_font_size: 22px;

#header{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #222222;

    .title{
        position:absolute;
        top: 5px;
        left: 5px;
        color: white;
        font-size: 20px;
    }

    .link{
        position:absolute;
        top: 7px;
        right: 5px;    
    }
}

.first_row{
    display: inline-block;
    position:relative;
    width: 22px;
    margin-left: $row_horizontal_margin;
}

.second_row{
    position: relative;
    display: inline-block;
    width: 70px;
    margin-left: $row_horizontal_margin;

    div{
        font-size: $large_font_size;
        font-weight: bold;
        margin-left: 8px;
    }
}

.middle_row{
    position: relative;
    display: inline-block;
    height: 100%;
    width: 40px;
    margin-top: 0;
    margin-left: $row_horizontal_margin;
}

.user_column{
    width:100%;
    overflow-x: scroll;
    overflow-y: hidden;
    .middle_row{
        div{
            font-size: $large_font_size;
            font-weight: bold;
            // margin-top: 3px;
            margin-left: 8px
        }
    }
}

.last_row{
    right: 0px;
    top: 0px;
    position: absolute;
    display: inline-block;
    width: 90px;
    margin-left: $row_horizontal_margin;
}

#root_column{
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    width:100%;
    height: 32px;
    margin-top: $row_horizontal_margin;

    .second_row{
        margin-top: 4px;
    }
}

.user_column{
    height: $column_height;
    margin-top: $row_horizontal_margin;
}

#addition_column{
    height: $column_height;
    width: 100%;
    margin-top: $row_horizontal_margin;
}

#addtion_button_wrapper{
    width: 100%;
    height: 100%;
}

#addition_button{
    margin: 5px;
}

.btn{
    width:100%;
}

.diff_button{
    position: relative;
    display: inline-block;
    width: 40px;
    height: 26px;
    border-radius: 16px;
    padding: 0;

    .delete_mark{
        opacity: 0.7;
        position: absolute;
        left: 4px;
        top: -1px;
    }

    .value{
        font-size: 12px;
        opacity: 0.9;
        position: absolute;
        right: 4px;
        top: 4px;
    }
}

.round_button{
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    padding: 0;

    .round_mark{
        opacity: 0.9;
        position: absolute;
        font-size: 20px;
        left: 7px;
        top: -3px;
    }
}

.delete_button{
    .round_mark{
        top: -4px;
        left: 8px;        
    }
}

.input_number{
    display: inline-block;
    width: 40px;
    height: 30px;
    opacity: 0.5;
}

.input_number_button{
    margin-left:3px;
}


hr{
    margin-top: 8px;
    margin-bottom: 8px;
}

.hide_lv1{
    opacity: 0.5;
}

.hide_lvmax{
    opacity: 0.03;
}

#reset_button{
    margin-top: 10px;
}

.black_btn{
    background-color: black;
}